div{
    background-color: bisque;
    width: 400px;
    height: 400px;
}
.container-pai{
    background-color: rgb(59, 57, 57);
    height: 400px;
    width: 100px;
}
.container-filho{

}